<!doctype html>
<html lang="en" ng-app>
    <head>
        <title>PinnCode</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="css/main.css" type="text/css" />
        <script  type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script  type="text/javascript" src="js/bootstrap.min.js"></script>
        <script  type="text/javascript" src="js/application.js"></script>

    </head>
    <body>
        <nav class="navbar bg-success navbar-fixed-top">
            <div class="container">
                <h1 class="navbar-brand"><span class="firstWord">Pinn</span>Code</h1>
                <button class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#configModal">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </button>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <%- include view/tracker.html %>
                </div>
                <div class="col-md-6">
                    <%- include view/bets.html %>
                </div>
            </div>
        </div>
        <div  class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <%- include view/config.html %>
                </div>
              </div>
        </div>
    </body>
</html>
