body {
    padding-top: 90px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1.navbar-brand {
    font-size: 300%;
}
.firstWord {
    color: orange;
}
.fetchStateBlock * {
    font-size: 16px;
}
.statusStarted {
    color: green;
    font-weight: bold;
}
.statusStopped {
    color: red;
    font-weight: bold;
}
input[type="range"] {
    vertical-align: middle;
}
.settingsBlock {
    position: relative;
    border: 1px solid grey; 
    display: table;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.settingsBlock .settingsTitle {
    position: absolute;
    top: -10px;
    left: 20px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    background: #fff;
    font-weight: normal;
    display: inline-block;
}
.intervalLabel {
    display: block;
    text-align: center;
}
.smallLabel {
    font-size: 10px;
}
.error {
    color: red;
}

.borderBox {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}