<form class="settingsBlock form-horizontal">
    <h2 class="settingsTitle">Do Bets</h2>

    <div class="form-group">
        <label for="inputName1" class="col-sm-3 control-label">Name 1</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputName1" placeholder="Name 1" name="name1">
        </div>
    </div>
    <div class="form-group">
        <label for="inputName2" class="col-sm-3 control-label">Name 2</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputName2" placeholder="Name 2" name="name2">
        </div>
    </div>
    <div class="form-group">
        <label for="inputK" class="col-sm-3 control-label">K</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputK" placeholder="K" name="inputK">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPay" class="col-sm-3 control-label">Pay</label>
        <div class="col-sm-9">
            <input type="number" class="form-control" id="inputPay" placeholder="Pay" name="inputPay">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary btn-lg">Bet</button>
        </div>
    </div>
</form>

<div class="settingsBlock betsList">
    <h2 class="settingsTitle">Bets</h2>
    <ul>
        <li>
            <span class="data">S - S 29</span>
            <span class="btn btn-danger btn-xs">Remove</span>
        </li>
    </ul>
</div>