<% if (typeof lastError != "undefined" && lastError) { %>
    <div class="error settingsBlock">
        <h2 class="settingsTitle">Error</h2>
        <%= lastError %>
            
    </div>
<% } %>

<div class="tournamentsContainer settingsBlock" id="tournamentTemplate">
    <h2 class="settingsTitle">Tournaments</h2>
    <template>
    [% for (var tournament in tournaments) { %]
        [% if (tournaments.hasOwnProperty(tournament)) { %]
            <li style="padding:3px">
                <a href= "[%= baseUrl %][%= tournaments[tournament].url %]">[%= tournament %]</a>
                [% if (tournaments[tournament].status == 1) { %]
                    <span style="color: white;border-radius: 2px;background:green;padding:1px 2px;">new</span>
                [% } %]
                [% if (tournaments[tournament].hndcp) { %]
                    <span style="color: white;border-radius: 2px;background:red;padding:1px 2px;">handicap</span>
                [% } %]
            </li>
        [% } %]
    [% } %]
    </template>
    <ul>
    </ul>
</div>